<div class="container">
  <div class="row">
    <div class="col-sm-9 col-xs-12">
      <div class="col-main">
        <div class="static-contain">
          <div class="page-title">
            <h2 class="entry-title"> TERMS AND CONDITIONS </h2>
          </div>
          <div class="page-content">
            <h3><strong>Privacy Policy</strong></h3>
            <p class="sub-content">The privacy of personal contact and payment information is top priority for us at Oaki. If you have any questions or concerns regarding how your personal information is used, please contact us at <a href="mailto:info@oaki.com">info@oaki.com</a>. For more details, please review our <strong><a href="/pages/returns">Privacy Policy</a></strong> page.</p>
            <h3><strong>Return Policy</strong></h3>
            <p class="sub-content">Here at Oaki, we pride ourselves on ensuring kids have a great outdoor experience. If for any reason you need to return an item, or make an exchange for a different size, please contact us at <a href="mailto:info@oaki.com" target="_blank" rel="noopener">info@oaki.com</a>, or call us at (360) 573-5000.</p>
            <p class="sub-content">Any items returned without original packaging may result in a 15% restocking fee. Please include all original packaging for each item to speed up your return/exchange.</p>
            <p class="sub-content">If you are uncertain about a particular size, please consult us before ordering. Because shipping can be expensive, <strong>all shipping charges for returns and exchanges are the responsibility of the customer</strong>. We also understand that ordering the wrong size/item happens from time to time. Please notify us promptly of any errors to your order so your little outdoor adventurers don’t miss a moment outside!</p>
            <p class="sub-content"><strong>Manufacture Defects Warranty</strong></p>
            <p class="sub-content">All Oaki products come with a 60 day manufacturers defect warranty. We do not warranty normal wear and tear or damage to the product due to regular everyday use. Please contact us if you have any concerns or questions about our warranty information at <a href="mailto:info@oaki.com">info@oaki.com</a>.</p>
            <h3><strong>What <span style="text-decoration: underline;">IS</span> Covered Under Manufacturers Defect Warranty:</strong></h3>
            <div class="pdesc">
            <ul class="weekly-shipping">
              <li>Seams not properly attached/sewn together</li>
              <li>Leaking at seams after first use</li>
              <li>Waterproof items not keeping water out after first use</li>
              <li>Missing parts</li>
              <li>Products not assembled correctly</li>
            </ul>
            </div>
            <h3><strong>What is <span style="text-decoration: underline;">NOT</span> Covered Under Manufacturers Defect Warranty, Defined as “Normal Wear and Tear” Incurred by the User:</strong></h3>
            <div class="pdesc">
            <ul class="weekly-shipping">
              <li><span style="line-height: 1.5em;">Rips, tears or cuts in fabric </span></li>
              <li>Holes or punctures</li>
              <li>Lost items</li>
              <li>Items outgrown in a short period of time</li>
              <li>Worn down or thinning fabric</li>
            </ul>
            </div>
            <h3><strong>Clearance Items</strong></h3>
            <p class="sub-content">All clearance items are sold as is and cannot be returned after purchase. If you purchased a clearance item that is defective and would like a replacement, please contact us at <a href="mailto:info@oaki.com" target="_blank" rel="noopener">info@oaki.com</a>, or call us at (360) 573-5000.</p>
            <h3><strong>Shipping Info</strong></h3>
            <p class="sub-content">Please note that shipping charges fall under three geographic regions: US, Canada &amp; International (outside US &amp; Canada). For details regarding shipping charges in your area, please see our <strong><a href="/pages/shipping">Shipping Info</a></strong> page, or contact us with additional questions at <a href="mailto:info@oaki.com">info@oaki.com</a>.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3 col-xs-12">
      {% include 'footer-menu-list' %}
    </div>
  </div>
</div>
