<div style="background-color:#f2f6f7; margin-top: -1%">
  <div class="container">
    <div class="elfsight-app-756551d9-02ca-4e4f-b819-3e0c1ac31ef7" style="margin-bottom:2%;"></div>
  </div>
</div>

{% schema %}
  {
    "name": "Instagram-Image-SlideShow",
    "presets": [
      {
        "name": "Instagram-Images",
        "category":"SlideShow"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
